.cryptosContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  z-index: 1;
  margin-top: 4rem;
}

.cryptoBox {
  box-sizing: border-box;
  width: 236px;
  height: 144px;
  background: rgba(140, 140, 140, 0.1);
  border: 0.871376px solid rgba(167, 167, 167, 0.2);
  border-radius: 13.0706px;
  padding: 1rem;
}

.cryptoBoxHeader {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
}

.cryptoBoxHeader div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 7.84239px;
  width: auto;
  height: 15px;
  padding: 0 0.5rem;
  background: #fff8d6;
  border-radius: 3.48551px;
  color: #000000;
  text-shadow: 0px 0px 60.125px #ffc255;
}

.line {
  margin: 1rem 0;
  height: 1px;
  background: #ffffff;
  opacity: 0.15;
}
.cryptoPrice {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17.4275px;
  line-height: 120%;
  color: #ffffff;
  text-shadow: 0px 0px 60.125px #ffc255;
}

.rateBox {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  margin: 0.5rem 0;
}
.rateUp {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12.1993px;
  line-height: 120%;
  color: #b1ffc2;
  text-shadow: 0px 0px 60.125px #ffc255;
}

.rateDown {
  color: #ffa3a6;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12.1993px;
  line-height: 120%;
  text-shadow: 0px 0px 60.125px #ffc255;
}
.chevron {
  height: 10px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 7.84239px;
}
