.heroContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}
.subTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #dddddd;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}
.infoText {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  padding: 1rem;
}
.primaryBtn {
  background: #29a643;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 98%;
  border: none;
  padding: 0.4rem 0;
  width: 345px;
}
.demoText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.demoText a {
  text-decoration: underline;
}
.termsText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 244px;
  color: #ffffff;
}
.termsText a,
.termsText span {
  color: #d51820;
}
@media screen and (max-width: 425px) {
  .heroContainer {
    width: 95%;
  }
  .primaryBtn {
    width: 110%;
  }
}
