.navbarContainer {
  width: 100%;
  background-color: black;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLinks {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: none;
  gap: 1rem;
  color: #ffffff;
} 

@media (min-width: 768px) {
} 

@media (min-width: 1200px) {
  .navbarContainer {
    justify-content: space-between;
    padding: 0 10rem;
  }
  .navLinks {
    display: flex;
  }
}
