.registerContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  margin-top: 2rem;
  align-items: center;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 111.9%;
  text-align: center;
  color: #ffffff;
}
.subTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.calendarBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
}
.form {
  margin-top: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.inputLabel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.inputField {
  height: 40px;
  width: 100%;
  margin: 0.5rem 0;
  background: #f7f7f7;
  border: 1px solid #a9a9a9;
}
.passInfo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  list-style: circle;
  color: #888888;
  margin-left: 15px;
  margin-bottom: 2rem;
}
.registerBtn {
  background: #29a643;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 98%;
  border: none;
  padding: 0.4rem 0;
  width: 110%;
}
.error {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #d51820;
  margin-bottom: 10px;
}
.newAccountText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.newAccountText a {
  text-decoration: underline;
  color: #d51820;
}
.termsText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
.termsText a,
.termsText span {
  color: #d51820;
}
.calendarContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 767px) {
  .calendarContainer {
    flex-direction: row;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    height: 121px;
    width: 615px;
  }
  .form {
    margin-top: 2rem;
    width: 100%;
  }
  .registerBtn {
    width: 345px;
  }
  .formInputs {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .calendarContainer {
    flex-direction: row;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    height: 121px;
    width: 656px; 
  }
  .form {
    margin-top: 2rem;
    width: 80%;
  }
  .formInputs {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
  }
  .formInputs div {
    width: 100%;
  }
  .registerBtn {
    width: 345px;
  }
}
